<%= render "channel_search" %>

<% if @tracks.present? %>
	<h3>Now Playing</h3>

	<table id="track_listing">
		<thead>
			<tr>
				<th>Channel Number</th>
				<th>Channel</th>
				<th>Track</th>
				<th>Artist</th>
				<th>Album</th>
			</tr>
		</thead>
		<tbody>
			<% @tracks.each do |track| %>
				<tr class = "track_info" id = <%= "channel_#{track.channel.channel_number}"%>>
					<td><%= link_to track.channel.channel_number, track.channel, :id => "channel_link_#{track.channel.channel_number}" %></td>
					<td><%= link_to track.channel.channel_name, track.channel %></td>
					<td><%= track.track_name%> <%= link_to(image_tag('spotify.png', :size=> "16x16"), spotify_link("track", track), :target=>"_blank") if track.track_name.present? %></td>
					<td><%= track.artist_name %> <%= link_to(image_tag('spotify.png', :size=> "16x16"), spotify_link("artist", track), :target=>"_blank") if track.artist_name.present? %></td>
					<td><%= track.album_name %> <%= link_to(image_tag('spotify.png', :size=> "16x16"), spotify_link("album", track), :target=>"_blank") if track.album_name.present? %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>