<div id="channel_description">
	<h2>Channel <%= @channel.channel_number %>: <%= @channel.channel_name %></h2>
	<p><%= @channel.description %></p>
</div>

<% if @tracks.present? %>
	<table id="track_listing">
		<thead>
			<tr>
				<th>Track</th>
				<th>Artist</th>
				<th>Album</th>
				<th>Played at</th>
			</tr>
		</thead>
		<tbody>
			<% @tracks.each do |track| %>
				<tr>
					<td>
						<%= track.track_name%> <%= link_to(image_tag('spotify.png', :size=> "16x16"), spotify_link("track", track), :target=>"_blank") if track.track_name.present? %>
					</td>
					<td>
						<%= track.artist_name %> <%= link_to(image_tag('spotify.png', :size=> "16x16"), spotify_link("artist", track), :target=>"_blank") if track.artist_name.present? %>
					</td>
					<td>
						<%= track.album_name %> <%= link_to(image_tag('spotify.png', :size=> "16x16"), spotify_link("album", track), :target=>"_blank") if track.album_name.present? %>
					</td>
					<td>
						<%= track.played_at %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
