<div id='channel_results'>
	<h2><%= link_to "Channels", channels_path %></h2>
	
	<% if flash[:channel_alert] %>
    	<p class="alert"><%= flash[:channel_alert] %></p>
    <% end %>
	
	<%= render :partial => "shared/channel", :collection => @channels %>
</div>	

<div id='track_results'>
	<h2>Tracks</h2>

	<% if flash[:track_alert] %>
    	<p class="alert"><%= flash[:track_alert] %></p>
    <% end %>
	
	<% if @tracks.present? %>
		<%= paginate @tracks %>
		<table id="track_listing">
			<thead>
				<tr>
					<th>Track</th>
					<th>Artist</th>
					<th>Album</th>
					<th>Channel Number</th>
					<th>Channel</th>
					<th>Played At</th>
				</tr>
			</thead>
			<tbody>
				<% @tracks.each do |track| %>
					<tr class = "track_info" %>
						<td><%= track.track_name%> <%= link_to(image_tag('spotify.png', :size=> "16x16"), spotify_link("track", track), :target=>"_blank") if track.track_name.present? %></td>
						<td><%= track.artist_name %> <%= link_to(image_tag('spotify.png', :size=> "16x16"), spotify_link("artist", track), :target=>"_blank") if track.artist_name.present? %></td>
						<td><%= track.album_name %> <%= link_to(image_tag('spotify.png', :size=> "16x16"), spotify_link("album", track), :target=>"_blank") if track.album_name.present? %></td>
						<td><%= link_to track.channel.channel_number, track.channel, :id => "channel_link_#{track.channel.channel_number}" %></td>
						<td><%= link_to track.channel.channel_name, track.channel %></td>
						<td><%= l track.played_at if track.played_at.present? %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>