<!DOCTYPE html>
<html>
    <head>
        <title>SpotXM</title>
        <!-- Bootstrap-->

        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= stylesheet_link_tag    "bootstrap.min", :media => "screen" %>
  		<%= javascript_include_tag "application", "bootstrap.min" %>
  		<%= csrf_meta_tags %>
    </head>

	<body>
        <%= render "layouts/navbar" %>

        <div class="container">
		  <%= yield %>
        </div>
	</body>
</html>
