<!DOCTYPE html>
<html>

    <head>
        <title>SpotXM</title>
        <!-- Bootstrap-->
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= stylesheet_link_tag    "bootstrap.min", :media => "screen" %>
  		<%= csrf_meta_tags %>
    </head>

	<body>

        <%-# render "layouts/navbar" -%>

        <div class="container">
            <h1>SpotXM</h1>
            <p id="about-service">Wondering what's currently playing on Sirius XM?  You're in the right place.</p>

            <% if flash[:alert] %>
                <p class="alert"><%= flash[:alert] %></p>
            <% end %>

            <%= yield %>
        </div>
        
        <!-- Javascript placed at the end of the document so the pages load faster -->
        <%= javascript_include_tag "application", "bootstrap.min" %>

	</body>
</html>
